* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}

body {
    background-color: #e8e8e8;
}

.wrapper {
    max-width: 1240px;
    margin: 0 auto;
}

/* HEADER  + NAV*/

header {
    width: 100%;
    height: 10vh;
    line-height: 10vh;
    background-color: #3a99f2;
    color: #32383d;
    font-size: 2.8rem;
}

h1.logo {
    font-family: 'Staatliches', cursive;
    font-size: 2.8rem;
    margin-left: 5vw;
}

.burger {
    position: absolute;
    right: 5vw;
    top: 0;
}

nav {
    position: absolute;
    top: 0;
    left: -150%;
    width: 100%;
    height: 100vh;
    background-color: #3a99f2;
    z-index: 5;
}

nav.on {
    left: 0;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

nav li {
    list-style: none;
    padding-bottom: 5vh;
}

nav a {
    text-decoration: none;
    color: #32383d;
    font-size: 3rem;
    font-weight: 700;
}

.fa-times {
    position: absolute;
    top: 5vw;
    right: 5vw;
    font-size: 2.8rem;
}

@media (orientation: landscape) {
    header {
        height: 15vh;
        line-height: 15vh;
    }

    nav li {
        padding-bottom: 2vh;
    }
}

@media (min-width: 360px) {
    h1.logo {
        font-size: 3.2rem;
    }
}

@media (min-width: 410px){
    h1.logo, .fa-times {
        font-size: 3.5rem;
    }
}

@media (min-width: 768px){
    header, h1.logo {
        font-size: 4.4rem;
    }
    
    nav li {
        padding-bottom: 3.5vh;
    }
}

@media (min-width: 1025px){
    h1.logo {
        font-size: 5rem;
    }

    .close_burger, .burger {
        display: none;
    }

    nav {
        position: absolute;
        top: 0;
        left: 30vw;
        height: 15vh;
        line-height: 15vh;
        width: auto;
    } 

    nav ul {
        flex-direction: row;
        justify-content: center;
    }

    nav li {
        padding-left: 2vw;
        overflow: hidden;
        height: 100%;
    }

    nav a {
        display: block;
        font-size: 2rem;
    }

    nav a:hover {
        color: #a2a5a8;
    }
}

@media (min-width: 1240px) {
    h1.logo {
        font-size: 5.8rem;
    }

    nav {
        left: 25vw;
    }

    nav a {
        font-size: 2.5rem;
    }
}

@media (min-width: 1410px) {
    nav {
        left: 30vw;
    }
}

@media (min-width: 1700px) {
    nav {
        left: 32vw;
    }

    h1.logo {
        margin-left: 0;
    }

    header, nav {
        height: 10vh;
        line-height: 10vh;
    }
}

/* BANNER */

.banner1, .banner2 {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    height: 90vh;
    font-family: 'Staatliches', cursive;
    opacity: 0;
}

.banner1 {
    background: url(../img/banner1.jpeg);
    background-size: cover;
    background-position: 40% center;
    background-repeat: no-repeat;
    animation: animation_banner 8s 0s linear infinite;
}

.banner2 {
    background: url(../img/banner2.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: animation_banner 8s 4s linear infinite;
}

.banner1 h2, .banner2 h2, .banner1 h3, .banner2 h3 {
    position: absolute;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.banner1 h2, .banner2 h2 {
    color: #3a99f2;
    bottom: 10vh;
}

.banner1 h2, .banner1 h3 {
    left: 5vw;
}

.banner2 h2, .banner2 h3 {
    right: 5vw;
}

.banner1 h3, .banner2 h3 {
    color: #a2a5a8;
    bottom: 5vh;
}

@keyframes animation_banner {
    0% {
        opacity: 0;
    }

    3% {
        opacity: 1;
    }

    47% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@media (orientation: landscape) {
    .banner1, .banner2 {
        height: 85vh;
        top: 15vh;
    }

    .banner1 {
        background-position: center 20%;
    }

    .banner1 h2, .banner2 h2, .banner1 h3, .banner2 h3 {
        font-size: 3rem;
    }

    .banner1 h2, .banner2 h2 {
        bottom: 14vh;
    }
}

@media (min-width: 360px) {
    .banner1 h2, .banner2 h2, .banner1 h3, .banner2 h3 {
        font-size: 3rem;
    }
    
    .banner1 h2, .banner2 h2 {
        bottom: 9.5vh;
    }
}

@media (min-width: 360px) and (orientation: landscape) {
    .banner1 h2, .banner2 h2 {
        bottom: 13vh;
    }

    .banner2 {
        background-position: center 60%;
    }
}

@media (min-width: 375px) and (min-height: 811px){
    /* iPhone X */
    .banner1 h2, .banner2 h2 {
        bottom: 9vh;
    }

    .banner1 {
        background-position: 37% center;
    }
}

@media (min-width: 375px) and (min-height: 811px) and (orientation: landscape) {
    .banner2 {
        background-position: center;
    }
}

@media (min-width: 410px) {
    .banner1 h2, .banner2 h2, .banner1 h3, .banner2 h3 {
        font-size: 3.4rem;
    }
}

@media (min-width: 768px) {
    .banner1 h2, .banner2 h2, .banner1 h3, .banner2 h3 {
        font-size: 4.6rem;
    }
}

@media (min-width: 1024px) {
    .banner1 h2, .banner2 h2, .banner1 h3, .banner2 h3 {
        font-size: 6rem;
    }
}

@media (min-width: 1240px) {
    .banner1 h2, .banner2 h2 {
        bottom: 10.5vh;
    }
}

@media (min-width: 1410px) {
    .banner1, .banner2 {
        background-position: center 20%;
    }
}

@media (min-width: 1700px) {
    .banner1, .banner2 {
        background-position: center 30%;
        top: 10vh;
        height: 90vh;
    }

    .banner1 h2, .banner2 h2, .banner1 h3, .banner2 h3 {
        font-size: 6.3rem;
    }
}

/* SECTION OUR SERVICES */

.section_services {
    margin-top: 90vh;
    font-family: 'Staatliches', cursive;
}

.section_services h3 {
    padding: 5vh 0;
    font-size: 3rem;
    color: #3a99f2;
    text-align: center;
}
.service {
    text-align: center
}

.service_photo img {
    background-size: contain;
    width: 80%;
    border: 1.5px #3a99f2 solid;
}

.service h4 {
    padding: 2vh 0;
    font-size: 2.5rem;
}

@media (orientation: landscape) {
    .section_services h3 {
        font-size: 3.5rem;
    }

    .service_photo img {
        width: 90%;
    }

    .service h4 {
        padding: 5vh 0;
        font-size: 3rem;
    }
}

@media (min-width: 360px) {
    .section_services h3 {
        font-size: 3.5rem;
    }

    .service_photo img {
        width: 90%;
    }

    .service h4 {
        font-size: 3rem;
    }
}

@media (min-width: 640px) {
    .section_services h3 {
        font-size: 4rem;
    }

    .service h4 {
        font-size: 3.5rem;
        padding: 4vh 0;
    }
}

@media (min-width: 736px) {
    .section_services h3 {
        font-size: 4.5rem;
    }

    .service h4 {
        font-size: 4rem;
        padding: 5vh 0;
    }
}

@media (min-width: 1024px) {
    .services {
        display: flex;
        justify-content: space-around;
        padding-bottom: 5vh;
    }

    .service {
        width: 31%;
    }

    .service h4 {
        font-size: 3rem;
        padding: 1vh 0;
    }
}
