* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}

body {
    background-color: #e8e8e8;
}

.wrapper {
    max-width: 1240px;
    margin: 0 auto;
}

/* HEADER  + NAV*/

header {
    width: 100%;
    height: 10vh;
    line-height: 10vh;
    background-color: #3a99f2;
    color: #32383d;
    font-size: 2.8rem;
}

h1.logo {
    font-family: 'Staatliches', cursive;
    font-size: 2.8rem;
    margin-left: 5vw;
}

.burger {
    position: absolute;
    right: 5vw;
    top: 0;
}

nav {
    position: absolute;
    top: 0;
    left: -150%;
    width: 100%;
    height: 100vh;
    background-color: #3a99f2;
    z-index: 5;
}

nav.on {
    left: 0;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

nav li {
    list-style: none;
    padding-bottom: 5vh;
}

nav a {
    text-decoration: none;
    color: #32383d;
    font-size: 3rem;
    font-weight: 700;
}

.fa-times {
    position: absolute;
    top: 5vw;
    right: 5vw;
    font-size: 2.8rem;
}

@media (orientation: landscape) {
    header {
        height: 15vh;
        line-height: 15vh;
    }

    nav li {
        padding-bottom: 2vh;
    }
}

@media (min-width: 360px) {
    h1.logo {
        font-size: 3.2rem;
    }
}

@media (min-width: 410px){
    h1.logo, .fa-times {
        font-size: 3.5rem;
    }
}

@media (min-width: 768px){
    header, h1.logo {
        font-size: 4.4rem;
    }
    
    nav li {
        padding-bottom: 3.5vh;
    }
}

@media (min-width: 1025px){
    h1.logo {
        font-size: 5rem;
    }

    .close_burger, .burger {
        display: none;
    }

    nav {
        position: absolute;
        top: 0;
        left: 30vw;
        height: 15vh;
        line-height: 15vh;
        width: auto;
    } 

    nav ul {
        flex-direction: row;
        justify-content: center;
    }

    nav li {
        padding-left: 2vw;
        overflow: hidden;
        height: 100%;
    }

    nav a {
        display: block;
        font-size: 2rem;
    }

    nav a:hover {
        color: #a2a5a8;
    }
}

@media (min-width: 1240px) {
    h1.logo {
        font-size: 5.8rem;
    }

    nav {
        left: 25vw;
    }

    nav a {
        font-size: 2.5rem;
    }
}

@media (min-width: 1410px) {
    nav {
        left: 30vw;
    }
}

@media (min-width: 1700px) {
    nav {
        left: 32vw;
    }

    h1.logo {
        margin-left: 0;
    }

    header, nav {
        height: 10vh;
        line-height: 10vh;
    }
}

/* BANNER */

.banner1, .banner2 {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    height: 90vh;
    font-family: 'Staatliches', cursive;
    opacity: 0;
}

.banner1 {
    background: url(../img/banner1.jpeg);
    background-size: cover;
    background-position: 40% center;
    background-repeat: no-repeat;
    animation: animation_banner 8s 0s linear infinite;
}

.banner2 {
    background: url(../img/banner2.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: animation_banner 8s 4s linear infinite;
}

.banner1 h2, .banner2 h2, .banner1 h3, .banner2 h3 {
    position: absolute;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.banner1 h2, .banner2 h2 {
    color: #3a99f2;
    bottom: 10vh;
}

.banner1 h2, .banner1 h3 {
    left: 5vw;
}

.banner2 h2, .banner2 h3 {
    right: 5vw;
}

.banner1 h3, .banner2 h3 {
    color: #a2a5a8;
    bottom: 5vh;
}

@keyframes animation_banner {
    0% {
        opacity: 0;
    }

    3% {
        opacity: 1;
    }

    47% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@media (orientation: landscape) {
    .banner1, .banner2 {
        height: 85vh;
        top: 15vh;
    }

    .banner1 {
        background-position: center 20%;
    }

    .banner1 h2, .banner2 h2, .banner1 h3, .banner2 h3 {
        font-size: 3rem;
    }

    .banner1 h2, .banner2 h2 {
        bottom: 14vh;
    }
}

@media (min-width: 360px) {
    .banner1 h2, .banner2 h2, .banner1 h3, .banner2 h3 {
        font-size: 3rem;
    }
    
    .banner1 h2, .banner2 h2 {
        bottom: 9.5vh;
    }
}

@media (min-width: 360px) and (orientation: landscape) {
    .banner1 h2, .banner2 h2 {
        bottom: 13vh;
    }

    .banner2 {
        background-position: center 60%;
    }
}

@media (min-width: 375px) and (min-height: 811px){
    /* iPhone X */
    .banner1 h2, .banner2 h2 {
        bottom: 9vh;
    }

    .banner1 {
        background-position: 37% center;
    }
}

@media (min-width: 375px) and (min-height: 811px) and (orientation: landscape) {
    .banner2 {
        background-position: center;
    }
}

@media (min-width: 410px) {
    .banner1 h2, .banner2 h2, .banner1 h3, .banner2 h3 {
        font-size: 3.4rem;
    }
}

@media (min-width: 768px) {
    .banner1 h2, .banner2 h2, .banner1 h3, .banner2 h3 {
        font-size: 4.6rem;
    }
}

@media (min-width: 1024px) {
    .banner1 h2, .banner2 h2, .banner1 h3, .banner2 h3 {
        font-size: 5.1rem;
    }
}

@media (min-width: 1240px) {
    .banner1 h2, .banner2 h2 {
        bottom: 10.5vh;
    }
}

@media (min-width: 1410px) {
    .banner1, .banner2 {
        background-position: center 20%;
    }
}

@media (min-width: 1700px) {
    .banner1, .banner2 {
        background-position: center 30%;
        top: 10vh;
        height: 90vh;
    }

    .banner1 h2, .banner2 h2, .banner1 h3, .banner2 h3 {
        font-size: 6.3rem;
    }
}

/* SECTION OUR SERVICES */

.section_services {
    margin-top: 90vh;
    font-family: 'Staatliches', cursive;
}

.section_services h3 {
    padding: 5vh 0;
    font-size: 3rem;
    color: #3a99f2;
    text-align: center;
    letter-spacing: 1px;
}
.service {
    text-align: center
}

.service_photo img {
    background-size: contain;
    width: 80%;
    border: 1.5px #3a99f2 solid;
}

.service h4 {
    padding: 2vh 0;
    font-size: 2.5rem;
}

@media (orientation: landscape) {
    .section_services h3 {
        font-size: 3.5rem;
    }

    .service_photo img {
        width: 90%;
    }

    .service h4 {
        padding: 5vh 0;
        font-size: 3rem;
    }
}

@media (min-width: 360px) {
    .section_services h3 {
        font-size: 3.5rem;
    }

    .service_photo img {
        width: 90%;
    }

    .service h4 {
        font-size: 3rem;
    }
}

@media (min-width: 640px) {
    .section_services h3 {
        font-size: 4rem;
    }

    .service h4 {
        font-size: 3.5rem;
        padding: 4vh 0;
    }
}

@media (min-width: 736px) {
    .section_services h3 {
        font-size: 4.5rem;
    }

    .service h4 {
        font-size: 4rem;
        padding: 5vh 0;
    }
}

@media (min-width: 1024px) {
    .services {
        display: flex;
        justify-content: space-around;
        padding-bottom: 5vh;
    }

    .service {
        width: 31%;
    }

    .service h4 {
        font-size: 3rem;
        padding: 1vh 0;
    }
}

/* SECTION TRAINING PLANS */
.swiper-container {
    height: 90vh;
    width: 100%;
    padding: 7vh 0;
    background: url(../img/training-theme.jpeg);
    background-size: cover;
}

.swiper-container h2{
    font-size: 3rem;
    font-family: 'Staatliches', cursive;
    color: #3a99f2;
    text-align: center;
    padding-bottom: 7vh;
}

.swiper-slide {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    width: 80vw;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .7);
    color: #a2a5a8;
    border-radius: 10px;
}

.swiper-slide, .training_content li {
    font-size: 2rem;
}

.plan {
    padding: 5vh;
    text-align: center;
}

.plan h5 {
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'Staatliches', cursive;
}

.plan p {
    color: #3a99f2;
    font-weight: 700;
}

.training_content li {
    list-style: url(../img/check-solid.svg);
}

@media (orientation: landscape) {
    .swiper-container {
        height: 100vh;
    }

    .swiper-container h2 {
        padding-bottom: 3vh;
    }
    
    .swiper-slide {
        width: 60vw;
        height: 70vh;
    }

    .swiper-slide, .training_content li {
        font-size: 1.8rem;
    }

    .plan {
        padding: 2vh;
    }
}

@media (min-width: 360px) and (orientation: portrait){
    .swiper-container h2 {
        font-size: 3.6rem;
    }

    .plan h5 {
        font-size: 3.6rem;
    }

    .swiper-slide, .training_content li {
        font-size: 2.4rem;
    }
}

@media (min-width: 360px) and (orientation: landscape) {
    .plan h5 {
        font-size: 3rem;
    }

    .swiper-slide, .training_content li {
        font-size: 2rem;
    }
}

@media (min-width: 375px) and (orientation: portrait) {
    .swiper-container h2 {
        font-size: 4rem;
    }

    .plan h5 {
        font-size: 4rem;
    }

    .swiper-slide, .training_content li {
        font-size: 2.6rem;
    }
}

@media (min-height: 410px) and (orientation: landscape) {
    .plan h5 {
        font-size: 3rem;
    }

    .swiper-slide, .training_content li {
        font-size: 2.3rem;
    }
}

@media (min-width: 768px) and (orientation: portrait) {
    .swiper-container {
        height: 80vh;
    }

    .swiper-container h2 {
        font-size: 5.2rem;
    }

    .swiper-slide {
        height: 50vh;
        width: 50vw;
    }

    .swiper-slide, .training_content li {
        font-size: 3.2rem;
    }

    .plan h5 {
        font-size: 4rem;
    }
}

@media (min-width: 812px) and (orientation: landscape) {
    .swiper-container {
        height: 100vh;
    }

    .swiper-container h2 {
        font-size: 4rem;
    }

    .swiper-slide, .training_content li {
        font-size: 2.1rem;
    }

}

@media (min-width: 1024px) and (orientation: landscape) {
    .swiper-container {
        height: 80vh;
    }

    .swiper-container h2 {
        font-size: 5.2rem;
    }

    .swiper-slide {
        height: 50vh;
        width: 50vw;
    }

    .swiper-slide, .training_content li {
        font-size: 3.0rem;
    }

    .plan h5 {
        font-size: 4rem;
    }
}

@media (min-width: 1024px) and (orientation: portrait) {
    .swiper-container {
        height: 70vh;
    }

    .swiper-slide {
        height: 40vh;
        width: 40vw;
    }
    
    .swiper-container h2 {
        font-size: 6rem;
    }

    .plan h5 {
        font-size: 4.4rem;
    }

    .swiper-slide, .training_content li {
        font-size: 3.5rem;
    }
}

@media (min-width: 1300px) {
    .swiper-container {
        padding: 10vh 0;
    }

    .swiper-container h2 {
        letter-spacing: 1px;
    }
    
    .swiper-slide {
        height: 50vh;
        width: 30vw;
    }
    
}

@media (min-width: 1700px) {
    .swiper-container {
        height: 75vh;
    }

    .swiper-slide {
        height: 45vh;
        width: 25vw;
    }
}

/* SECTION CONSULTANT */
section.consultant {
    background-color: #3a99f2;
    height: 60vh;
}

div.consultant{
    background-color: #3a99f2;
    color: white;
    padding: 5vh;
    font-family: 'Staatliches', cursive;
}

.consultant_info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.consultant h6 {
    font-size: 3rem;
    text-align: center;
    letter-spacing: 1px;
}

.consultant button {
    margin: 4vh;
    padding: 10px 20px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 2.2rem;
}

.consultant button:hover {
    background-color: white;
    color: #3a99f2;
    cursor: pointer;
}

.consultant p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    text-align: justify;
}

.consultant_photo {
    display: none;
}

@media (orientation: landscape) {
    
    .consultant h6 {
        font-size: 2.5rem;
    }

    .consultant button {
        font-size: 2rem;
        margin: 3vh;
    }

    .consultant p {
        font-size: 1.1rem;
    }
}

@media (min-width: 360px) and (orientation: portrait) {
    .consultant h6 {
        font-size: 3.5rem;
    }

    .consultant button {
        font-size: 2.6rem;
        margin: 5vh;
    }

    .consultant p {
        font-size: 1.4rem;
    }
}

@media (min-height: 360px) and (orientation: landscape) {
    .consultant button {
        font-size: 2.4rem;
    }

    .consultant p {
        font-size: 1.3rem;
    }
}

@media (min-width: 375px) and (min-height: 812px) {
    section.consultant {
        height: 55vh;
    }
    
    .consultant h6 {
        font-size: 3.6rem;
    }

    .consultant button {
        font-size: 2.8rem;
    }

    .consultant p {
        font-size: 1.5rem;
    }
}

@media (min-width: 410px) {
    .consultant {
        height: 45vh;
    }
}

@media (min-width: 410px) and (orientation: portrait) {
    section.consultant {
        height: 50vh;
    }
}

@media (min-width: 730px) and (orientation: landscape) {
    section.consultant {
        height: 55vh;
    }

    .consultant button {
        margin: 7vh 0;
    }
}

@media (min-width: 768px) and (orientation: portrait) {
    section.consultant {
        height: 40vh;
    }

    .consultant h6 {
        font-size: 4.2rem;
    }

    .consultant button {
        font-size: 3.2rem;
        padding: 15px 30px;
    }

    .consultant p {
        font-size: 1.8rem;
    }
}

@media (min-width: 1000px) {
    section.consultant {
        height: 25vh;
    }
    
    div.consultant {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: nowrap;
        padding: 5vh 10vh;
    }

    .consultant_info {
        width: 80%;
    }

    .consultant h6 {
        display: block;
        text-align: left;
        width: 20%
    }

    .consultant button {
        font-size: 2.5rem;
        padding: 10px 20px;
        margin: 0 0 3vh;
    }

    .consultant p {
        font-size: 1.3rem;
    }
}

@media (min-width: 1024px) and (orientation: portrait) {
    section.consultant {
        height: 20vh;
    }

    div.consultant {
        padding: 5vh 5vh;
    }

    .consultant h6 {
        width: 30%;
    }

    .consultant_info {
        width: 70%;
    }
}

@media (min-width: 1400px) {
    section.consultant {
        height: 20vh;
    }
}

/* SECTION BEST TRAINERS */
.section_trainers {
    margin-top: 2vh;
}

.about_trainers, .trainers, .trainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.about_trainers {
    padding: 0 5vh;
}

.about_trainers h3 {
    font-size: 3rem;
    font-family: 'Staatliches', cursive;
    color: #3a99f2;
    letter-spacing: 1px;
    padding: 5vh 0;
}

.trainer_description {
    font-size: 1.2rem;
    text-align: justify;
}

.trainer_photo {
    position: relative;
    border: 1.5px #3a99f2 solid;
}

.trainer_photo h5 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 8vh;
    line-height: 8vh;
    background-color: rgba(58, 153, 242,.85);
    font-family: 'Staatliches', cursive;
    font-size: 2rem;
    text-align: center;
    color:white;
}

.trainer_photo img {
    height: 60vh;
    width: 100%;
}

.trainer_description {
    padding: 3vh;
}

.trainer_description p {
    text-align: center;
}

@media (orientation: landscape) {
    .trainer_photo {
        width: 50%;
    }
    
    .trainer_photo img {
        height: 70vh;
        width: 100%;
    }

    .trainer_description {
        width: 80%;
    }
}

@media (min-width: 360px) and (orientation: portrait) {
    .trainer_photo h5 {
        font-size: 2.4rem;
    }
}

@media (orientation: landscape) and (min-width: 568px) {
    .trainer_photo {
        width: 45%;
    }
}

@media (orientation: landscape) and (min-width: 640px) {
    .trainer_photo {
        width: 40%;
    }
}

@media (min-width: 410px) and (orientation: portrait) {
    .trainer_description {
        font-size: 1.3rem;
    }

    .trainer_photo h5 {
        font-size: 2.8rem;
    }
}

@media (min-height: 812px) and (orientation: portrait) {
    .trainer_photo img {
        height: 50vh;
    }

    .about_trainers h3 {
        padding: 3vh 0;
    }
}

@media (min-height: 1024px) and (min-width: 768px) and (orientation: portrait) {
    .trainer_photo img {
        height: 45vh;
    }

    .trainer_photo {
        width: 55%;
    }

    .trainer_photo h5 {
        height: 6vh;
        line-height: 6vh;
    }

    .about_trainers h3 {
        margin: 4vh 0 0;
    }
}

@media (min-width: 1024px) {
    .trainers {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .about_trainers h3 {
        font-size: 4rem;
    }

    .trainer {
        width: 31%;
    }

    .trainer_photo {
        width: 100%;
    }

    .trainer_photo img {
        height: 55vh;
    }

    .trainer_photo h5 {
        height: 5vh;
        line-height: 5vh;
        font-size: 2.4rem;
    }

    .trainer_description {
        width: 90%;
        padding: 3vh 0;
    }
}

@media (min-width: 1024px) and (orientation: portrait) {
    .trainer_photo img {
        height: 40vh;
    }
}

@media (min-width: 1366px) {
    .trainer {
        width: 30%;
    }

    .trainer_photo img {
        height: 60vh;
    }
}

@media (min-width: 1700px) {
    .trainer_photo img {
        height: 50vh;
    }
}

/* SECTION CONTACT */
.section_contact {
    background-color: #3a99f2;
    color: white;
}

.contact, .message, .info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.contact {
    padding: 5vh;
}

.message {
    padding-bottom: 5vh;
}

.info {
    width: 100%;
}

.message h6 {
    font-family: 'Staatliches', cursive;
    font-size: 3rem;
}

.message p {
    font-size: 1.2rem;
    text-align: center;
    padding: 3vh 0;
}

input, textarea {
    width: 90%;
    padding: 1vh;
    font-family: 'Open Sans', sans-serif;
    border: none;
    margin-bottom: 2vh;
}

input {
    height: 6vh;
}

.message button {
    width: 70%;
    height: 6vh;
    line-height: 6vh;
    font-size: 1.8rem;
    background-color: #3a99f2;
    font-family: 'Staatliches', cursive;
    color: white;
    border: 1px solid white;
}

.message button:hover {
    background-color: white;
    color: #3a99f2;
}

.info .logo {
    margin: 0;
    font-size: 4rem;
    color: #32383d;
    padding-bottom: 3vh;
}

.socials {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #32383d;
    font-size: 2rem;
    width: 80%;
}

.social:hover {
    color: #a2a5a8;
}

.info p {
    display: none;
}

@media (orientation: landscape) {
    .message h6 {
        font-size: 3.4rem;
    }
    
    .message p {
        padding: 4vh 0;
    }
    
    input, textarea {
        width: 75%;
        padding: 2vh;
        margin-bottom: 4vh;
    }

    input {
        height: 8vh;
    }

    textarea {
        height: 40vh;
    }

    .message button {
        width: 50%;
        height: 9vh;
        line-height: 9vh;
    }

    .info .logo {
        font-size: 4.4rem;
    }

    .socials {
        width: 60%;
    }
}

@media (min-width: 360px) and (orientation: portrait) {
    .message h6 {
        font-size: 3.6rem;
    }

    .info .logo {
        font-size: 4.2rem;
    }
}

@media (min-width: 375px) {
    .message button {
        font-size: 2rem;
    }
}

@media (min-width: 410px) {
    .message h6 {
        font-size: 3.8rem;
    }

    .message p {
        font-size: 1.3rem;
    }

    .info .logo {
        font-size: 4.4rem;
    }

    input, textarea {
        font-size: 1.4rem;
    }
}

@media (min-width: 768px) and (orientation: portrait) {
    .message {
        padding-bottom: 3vh;
    }
    
    .message h6 {
        font-size: 4.2rem;
    }

    .message p {
        font-size: 1.5rem;
        padding: 2vh 0;
    }

    input {
        height: 5vh;
        line-height: 5vh;
    }

    .info .logo {
        font-size: 4.7rem;
    }

    .message button {
        width: 60%;
        font-size: 2.6rem;
    }

    .socials {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .contact {
        flex-direction: row;
    }

    .message, .info {
        width: 50%;
        padding: 0;
    }

    .message p {
        font-size: 1.4rem;
        padding: 2vh 0;
    }

    input {
        height: 6vh;
        line-height: 6vh;
    }

    input, textarea {
        margin-bottom: 2vh;
    }

    textarea {
        height: 25vh;
    }

    .message button {
        height: 6vh;
        line-height: 6vh;
    }

    .info p {
        margin-top: 5vh;
        display: block;
        width: 90%;
        font-size: 1.4rem;
        text-align: center;
    }

    .info .logo {
        font-size: 6rem;
    }
}

@media (min-width: 1366px) {
    .info p {
        width: 80%;
    }

    .social {
        font-size: 3.4rem;
    }
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #32383d;
    color: #3a99f2;
    font-size: 1.4rem;
}

footer p {
    text-transform: uppercase;
}

footer a {
    text-decoration: none;
    color: #3a99f2;
}

footer a:hover {
    cursor: pointer;
}

@media (orientation: landscape) {
    footer {
        height: 15vh;
    }
}

@media (min-width: 1024px) {
    footer {
        height: 10vh;
        font-size: 1.6rem;
    }
}

@media (min-width: 1700px) {
    footer {
        height: 8vh;
    }
}